<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <a class="navbar-brand" href="/"><img src="../assets/img/logo.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="foto-work">Портфолио</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">Обо мне</a>
                </li>
            </ul>
            <!-- Social Icon  -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item d-flex align-self-center">
                    <a href="tel:+380958874999" class="mr-2 text-white font-weight-normal">
                        <i class="fa fa-phone light-green-text-2 mr-2"></i>095 88 74 999</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/Natalykeratin" target="_blank" class="nav-link" title="Открыть профиль в Facebook">
                        <i class="fa fa-facebook light-green-text-2"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/botox_keratin_nikolaev" target="_blank" class="nav-link" title="Открыть профиль в Instagram">
                        <i class="fa fa-instagram light-green-text-2"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="header-view intro-2">
        <!-- <img src="../assets/img/background_images.jpg"> -->
        <div class="full-bg-img">
            <div class="mask rgba-brown-strong flex-center d-flex flex-column">
                <div class="container text-center white-text wow fadeInUp d-flex flex-column align-items-center">
                    <h1 class="mt-5 font-weight-normal" style="margin-bottom: 30px;">Дайте вашим волосам новое дыхание</h1>
                    <div class="block-header d-flex flex-column">
                        <h3>Выпрямление вьющихся волос, с помощью кератина. А теперь и ботокс волос</h3>
                        <br>
                        <p>Эффект держится от 3 до 6 месяцев.</p>
                        <p>Вы ощутите всю красоту и мощь ваших волос, которые придадут вам уверенности в себе!</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</header>

<router-outlet></router-outlet>